body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  header {
    background-color: transparent;
    color: #fff;
    padding: 20px;
  }
  
  header img {
    max-width: 30px;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-left: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  h2 {
    text-align: center;
    margin: 20px;
    color: #fff;
  }
  